<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Smali</string>
	<key>uuid</key>
	<string>3286609A-D0DF-4A11-B0F6-1AD0D9308C5E</string>
</dict>
</plist>
